
body{
    margin: 0;
    padding: 0;
}
#navbar{
    display: flex;
    align-items: center;
    position: relative;
}
.logo img{
    height: 56px;
    width: 56%;
    margin: 14px 25px; 
}
#navbar ul{
    display: flex;

}
#navbar::before{
    margin-top: 0;
    padding-top: 0;
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 5px 10px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    background-color: black;
    color: white;
}
#navbar{
    position: relative;
}
.home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
} 
.home::before{
    content: "";
    position: absolute;
    background-color:black ;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}
.h-primary{
    font-size: 2.8rem;
    
}
.btn:hover{
    background-color: rgb(212, 203, 203);
    color: rgb(70, 71, 72);
}
.btn{
    padding: 7px;
    font-size: 1.5rem;
    background-color: black;
    color: white;
    border: 2px solid rgb(236, 119, 119);
    border-radius: 10px;
    font-family: 'Ballo Bhai', cursive;
}

.h-secondary{
    font-size: 1.8rem;
   
    
}
.services{
    margin: 20px;
    display: flex;
     
} 
.services .box{
    padding-top: 10px;
    
}

.services .box img{
    margin: auto;
    display: block;
    padding-top: 10px;
    height: 130px;
    width: 150px;
    
}
.services .box .mid{
    margin: auto;
    display: block;
    margin-top: 10px;
}
.services .box p{
     padding-left: 30px;
     padding-right: 30px;
}
.home{
    height: 550px;
}
.services-container .ourservices{
    padding-left: 500px;
}
.services-container .h-secondary{
    border-radius: 15px;
}
.services-container .h-secondary:hover{
    background-color: black;
    color: white;
}
.services .box{
    border: 2px solid red;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
footer{
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;

}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: aqua;
}
.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: 4;
    font-weight: 200;
    color: red;
}